.page {
  min-width: 1024px;
  margin: auto;
  font-family: inter, sans-serif;
  background-color: #2A2C2F;

}

@media screen and (max-width : 768px) {
  .page {
    min-width: 544px;
    max-width: 768px;
  }


}

@media screen and (max-width : 320px) {
  .page {
    min-width: 310px;
    max-width: 320px;
  }


}