.places {
  padding-top: 92px;
  padding-left: 151px;
  padding-right: 145px;
  color: white;
  margin: 0;

}

.article {
  padding-bottom: 72px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 32px;
}

.article__title {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-size: 72px;
  line-height: 76px;

}


.artist {
  font-family: "Inter";
  font-style: normal;
  position: relative;
  top: 85px;
  right: 0;
}

.heading {
  margin: 0;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 100%;
}

.artist_name {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 48px;
}

.article__image {
  width: 460px;
  height: 460px;
  opacity: 1;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  margin-top: 85px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 48px;
}

.article__image:hover {
  opacity: 0.7;
  background: #00000080;
}

.article__image_cuadro {
  width: 460px;
  height: 460px;
  opacity: 1;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.article__image_cuadro:hover {
  opacity: 0.7;
  background: #00000080;

}

.article__text {
  margin-top: 48px;
  font-family: "Inter";
  font-style: normal;
  font-size: 18px;
  line-height: 163%;
}

.article__button {
  color: #ffffff;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 10%;
  height: 48px;
  width: 289px;
  padding: 0;
}


.article__button:hover {
  opacity: 0.7;
  background-color: #00000080;
}


.article__button-submit {
  background-image: linear-gradient(to right, #0278FE 0%, #003A7B 99.98%)
}

@media screen and (max-width : 768px) {
  .places {
    padding-top: 88px;
    padding-left: 24px;
    padding-right: 24px;

  }

  .article {
    gap: 28px;
  }

  .article__title {
    font-size: 42px;
    line-height: 46px;
  }

  .artist {
    position: relative;
    top: 0;
    right: 0;
  }

  .article__image {
    margin: 0;
    width: 340px;
    height: 340px;
  }

  .article__image_cuadro {
    width: 340px;
    height: 340px;
  }

  .article__text {
    margin: 0;
    font-size: 16px;
  }

}

@media screen and (max-width : 320px) {
  .places {
    padding-top: 62px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 52px;
  }

  .article {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .article__title {

    padding-left: 16px;
    padding-right: 16px;
    font-size: 32px;
    line-height: 35px;
  }

  .artist {

    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    top: 0;
    right: 0;
  }

  .article__image {

    width: 100%;
    height: 320px;
    box-sizing: border-box;
  }

  .article__image_cuadro {
    width: 100%;
    height: 320px;
  }

  .article__text {

    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    font-size: 16px;
  }

  .article__button {
    height: 48px;
    width: 289px;

  }


}